.footer__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__contant__container {
  display: flex;
  padding: 2em 0em;
}
.footer__contact__text {
  font-size: 16px;
}
.footer__contant__logo {
  color: #a200a8;
  font-weight: bold;
  margin: 10px 0px;
}
.footer__contant__logo span {
  color: black;
  font-weight: 300;
}
.footer__contact__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0em 1em;
}
.footer__contant__col__heading {
  font-size: 20px;
  font-weight: 600;
  color: #a200a8;
  margin: 10px 0px;
}
.footer__contant__col__sub__heading {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 6px 0px;
  cursor: pointer;
  font-weight: 500;
}
.footer__contant__col__sub__heading:hover {
  color: #a200a8;
}
.footer__contant__icon__item {
  display: flex;
  align-items: center;
  margin: 6px 0px;
}
.footer__contant__icon__item__svg {
  width: 20px;
  height: 20px;
  margin: 12px;
  color: #13091f;
}
.footer__contant__icon__item__svg:hover {
  color: #a200a8;
}
.buttom__footer__copyright {
  color: rgb(46, 46, 46);
  padding: 1em 0em;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.footer__buttom__imgs {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -4em;
  justify-content: space-between;
}
.footer__img__right img {
  height: 250px;
  margin-bottom: -5em;
}
.footer__img__left {
  display: flex;
  align-items: flex-end;
  margin-right: 6em;
}
.footer__img__left img {
  height: 150px;
  margin-bottom: -9.3em;
}
@media (max-width: 800px) {
  .footer__contant__container {
    flex-direction: column;
  }
}
@media (max-width: 750px) {
  .footer__img__left {
    display: none;
  }
}
@media (max-width: 550px) {
  .footer__img__right img {
    height: 100px;
  }
}
@media (max-width: 400px) {
  .footer__img__right img {
    display: none;
  }
  .footer__img__left {
    display: none;
  }
}
