*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif; // replace this with font family
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #f4f4f4;
}
:root {
  --white: #ffff;
  --primary: #a200a8;
  --secondary: #16e1e1;
  --dark: #fbae1f;
}
.header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.2) 5px 68px 31px -20px inset,
    rgba(0, 0, 0, 0.2) 0px 65px 36px -18px inset;
}
.header__active {
  background-color: var(--white);
  box-shadow: none;
}
.header__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
}
.header__content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.header__content__logo img {
  width: 100px;
}
.header__content__nav {
  display: flex;
  align-items: center;
}
.header__content__nav__link {
  width: 100%;
  position: relative;
  margin-left: 1em;
}
.header__content__buttons {
  display: flex;
  align-items: center;
}
.header__content__get__started {
  align-items: center;
  justify-content: center;
  height: 37px;
  padding: 0em 1em;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}
.header__active .header__content__get__started {
  border: 1px solid black;
  color: black;
}
.header__active .header__content__get__started:hover {
  color: var(--white);
  border-color: var(--primary);
}
.header__content__get__started:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  transition: 300ms ease-in-out;
}
.header__content__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}
.header__content__nav__link__content {
  color: var(--white);
}
.header__active .header__content__nav__link__content {
  color: black;
}
.header__content__nav__link__input:hover
  ~ .header__content__nav__link__content {
  color: var(--primary);
  transition: 300ms ease-in-out;
}
.header__active
  .header__content__nav__link__input:hover
  ~ .header__content__nav__link__content {
  color: var(--primary);
  transition: 300ms ease-in-out;
}
.header__content__nav__contact__us {
  height: 35px;
  padding: 0em 1em;
  border-radius: 5px;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}
.header__content__nav__contact__us:hover {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
  transition: 300ms ease-in-out;
}
.header__content__nav__menu {
  display: none;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  margin-left: 0.5em;
  border: 1px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
}
.header__content__nav__menu:hover {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}
.header__active .header__content__nav__menu:hover {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}
