@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: #f4f4f4;
  overflow-x: hidden;
}
:root {
  --white: #ffff;
  --primary: #a200a8;
  --secondary: #16e1e1;
  --dark: #fbae1f;
  --darkblue: #1a0d2b;
  --lightblue: #281740;
  --black: #000000;
}
