.nav__bar__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c0f2e;
}
.nav__bar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.nav__contant__link {
  display: FLEX;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
  font-size: 16px;
  cursor: pointer;
}
.nav__contant__link__icon svg {
  margin: 0 0.5em;
}
.nav__contant__link:hover {
  color: #fbae1f;
  transform: translate(300ms ease-in-out);
}
.nav__contant__link__btn {
  background: linear-gradient(
    270deg,
    rgba(58, 4, 87, 1) 20%,
    rgba(251, 174, 31, 1) 94%
  );
  color: white;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}
.nav__contant__link__btn:hover {
  background: linear-gradient(
    270deg,
    rgba(251, 174, 31, 1) 30%,
    rgba(58, 4, 87, 1) 80%
  );
  transform: translate(600ms ease-in-out);
}

.nav__contant__link__language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  margin: 1em;
  cursor: pointer;
}
.nav__contant__link__language:hover {
  color: #fbae1f;
  transform: translate(300ms ease-in-out);
}
.nav__contant__link__language__icon svg {
  margin: 0 0.5em;
}
.header__nav__bar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5em 2em;
}
.nav__bar__btn__menu {
  align-items: center;
  display: none;
}
.nav__btn {
  border: none;
  background: linear-gradient(
    270deg,
    rgba(58, 4, 87, 1) 20%,
    rgba(251, 174, 31, 1) 94%
  );
  border-radius: 6px;
  padding: 0em;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav__bar__btn__menu {
    display: flex;
  }
}
