@import "swiper/scss";
@import "swiper/scss/autoplay";
@import "swiper/scss/free-mode";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 600px;
  background-color: var(--darkblue);
  max-height: 1000px;
}
.header__container__svgs {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.header__container__svgs__one {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -320px;
  z-index: 1;
}
.header__container__svgs__two {
  position: relative;
  height: 100%;
}
.header__container__svgs__two svg {
  position: absolute;
  top: 200px;
  right: -10px;
  z-index: 2;
}
.header__container__svgs__three {
  position: relative;
  width: 100%;
}
.header__container__svgs__three svg {
  position: absolute;
  bottom: -137px;
  left: 250px;
  z-index: 2;
}
.header__container__text__section {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header__container__text__section__subheading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.5em;
  color: var(--white);
}
.header__container__text__section__subheading span {
  color: var(--dark);
}
.header__container__text__section__heading {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 0.4em;
  max-width: 550px;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.header__container__text__section__heading span {
  background: linear-gradient(
    270deg,
    rgba(58, 4, 87, 1) 20%,
    rgba(251, 174, 31, 1) 94%
  );
  color: var(--white);
  padding: 0px 2px;
  border-radius: 8px;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 0.5em;
}
.header__container__text__section__text {
  font-size: 15px;
  line-height: 140%;
  margin-bottom: 1.5em;
  max-width: 860px;
  text-align: center;
  color: var(--white);
}
.header__container__text__section__get__started {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container__text__section__get__started__btn {
  height: 40px;
  padding: 0em 2.5em;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid white;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.header__container__text__section__get__started__btn:hover {
  background: linear-gradient(
    270deg,
    rgba(58, 4, 87, 1) 20%,
    rgba(251, 174, 31, 1) 94%
  );
  cursor: pointer;
}
.about__section {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5em 2em;
  padding-top: 7em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__section__heading {
  font-size: 30px;
  font-weight: bold;
  color: #1b1b1b;
  margin-bottom: 0.6em;
}
.about__section__text {
  font-size: 14px;
  color: #2e2e2e;
  max-width: 1000px;
  line-height: 140%;
  margin-bottom: 5em;
}
.about__section__cards {
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__section__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  border-radius: 20px;
  padding: 4em 2em 2em 2em;
  justify-content: space-between;
}
.about__section__card__upper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 85%;
}
.about__section__card__icon {
  margin-bottom: 1em;
  color: #3a0457;
}
.about__section__card__heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1.2em;
}
.about__section__card__text {
  font-size: 14px;
  line-height: 140%;
  color: #646464;
  margin-bottom: 1em;
}
.about__section__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__section__card__more {
  color: #3a0457;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.about__section__card__number {
  background: linear-gradient(#ffbf01, #c89500);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 50px;
  font-weight: 500;
}
.about__section__card:hover {
  background: linear-gradient(#450161, #0b132f);

  .about__section__card__icon {
    color: #c89500;
  }
  .about__section__card__heading {
    color: #eeeeee;
  }
  .about__section__card__text {
    color: #eeeeee;
    opacity: 60%;
  }
  .about__section__card__more {
    color: white;
  }
}
.tokenization__section {
  width: 100%;
  max-width: 1650px;
  padding: 5em 2em;
  padding-bottom: 0em;
  padding-top: 8em;
  margin: 0 auto;
}
.tokenization__section__blue {
  background-color: var(--darkblue);
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
}
.tokenization__section__blue__img img {
  margin-top: -10em;
}
.tokenization__section__blue__highlight {
  color: white;
  background: linear-gradient(to right, #090808, #640168);
  padding: 0.5em 2em;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  margin: 1.5em 1em;
  text-align: center;
}
.tokenization__section__blue__subheading {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-align: center;
}
.tokenization__section__blue__heading {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 0.4em;
}
.tokenization__section__blue__text {
  font-size: 14px;
  color: white;
  text-align: center;
  max-width: 900px;
  width: 100%;
  font-size: 12px;
}
.tokenization__section__blue__cards {
  display: flex;
  padding: 2em 0 3em 0;
}
.tokenization__section__blue__cards__card {
  display: flex;
  color: white;
  background: linear-gradient(#640168, #a200a8);
  border-radius: 20px;
  width: 450px;
  margin-right: 1.5em;
  padding: 2em;
  justify-content: space-between;
}

.tokenization__section__blue__cards__card:last-child {
  margin-right: 0px;
  background: linear-gradient(#026a6a, #039f9f);
}
.tokenization__section__blue__cards__card__icon {
  margin-top: 1em;
}
.tokenization__section__blue__cards__card__text {
  width: 60%;
}
.tokenization__section__blue__cards__card__text__heading {
  font-size: 16px;
  font-weight: bold;
}
.tokenization__section__blue__cards__card__text__subheading {
  font-size: 14px;
  color: #d0d0d1;
  margin: 1em 0;
}
.tokenization__section__blue__cards__card__text__more {
  font-size: 14px;
  font-weight: bold;
}
//industries homepage
.industries__solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0em;
  padding-bottom: 0em;
  background-color: #efefef;
}
.industries__solutions__heading {
  font-size: 35px;
  margin-bottom: 0.5em;
  font-weight: 600;
  padding: 0em 2em;
  text-align: center;
}
.industries__solutions__info {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding: 0em 2em;
  margin-bottom: 2em;
  color: var(--dark);
}
.industries__solutions__content {
  width: 100%;
}
.industries__solutions__content__card {
  background-color: var(--white);
  padding: 2.5em;
  border-radius: 10px;
  min-height: 300px;
}
.industries__solutions__content__card__img {
  height: 60px;
}
.industries__solutions__content__card__heading {
  font-size: 22px;
  color: black;
  margin: 0.5em 0em;
  font-weight: bold;
}
.industries__solutions__content__card__info__more__btn {
  margin-top: 1em;
}
.industries__solutions__content__card__info__more__btn button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
}
.industries__solutions__content__card__info {
  font-size: 15px;
}
.industries__solutions__new__content__card {
  padding: 2.5em;
  border-radius: 10px;
  min-height: 300px;
}

.industries__solutions__new__content__card__heading {
  font-size: 22px;
  color: var(--white);
  margin: 0.5em 0em;
  font-weight: bold;
}
.industries__solutions__new__content__card__info__more__btn {
  margin-top: 1em;
}
.industries__solutions__new__content__card__info__more__btn button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.industries__solutions__new__content__card__info {
  font-size: 15px;
  color: var(--white);
}
.homepage__startyour {
  width: 100%;
  height: 100%;
  padding: 5em 0em;
  padding-bottom: 0em;
}
.homepage__startyour__container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.homepage__startyour__container__img {
  width: 100%;
  max-height: 600px;
  border-radius: 50px;
  height: 100%;
  object-fit: cover;
}
.homepage__startyour__container__img__overlay {
  width: 100%;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  top: 0px;
  position: absolute;
}
.homepage__startyour__container__img__entry {
  width: 100%;
  max-width: 500px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 4em;
  border-radius: 50px;
  display: flex;
  color: var(--white);
  font-size: 22px;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
}
.homepage__startyour__container__img__entry svg {
  width: 40px;
  height: 30px;
}
//------------------------------------------------------------------------------------------------------------------------------------------------------
//homepage our specities
.homepage__our__specialities {
  width: 100%;
  height: 100%;
  padding: 5em 0em;
  padding-bottom: 0em;
}
.homepage__our__specialities__container {
  width: calc(100% - 2em);
  margin: 0px auto;
  margin-left: 2em;
  display: flex;
  padding: 4em;
  padding-right: 0em;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--lightblue);
}

.homepage__our__specialities__container__title {
  font-size: 35px;
  font-weight: 600;
  text-align: flex-start;
  width: 100%;
  color: var(--white);
}
.homepage__our__specialities__container__slider {
  width: 100%;
}
.OurSpecialistCards__solutions__content__card {
  background-color: var(--darkblue);
  padding: 2em 1.5em;
  border-radius: 10px;
  min-height: 300px;
}
.OurSpecialistCards__solutions__content__card svg {
  width: 50px;
}
.OurSpecialistCards__solutions__content__card__heading {
  font-size: 22px;
  color: var(--white);
  margin: 0.5em 0em;
  font-weight: bold;
}
.OurSpecialistCards__solutions__content__card__info {
  font-size: 15px;
  color: #878787;
}
.homepage__our__specialities__container__slider__arrow {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}
.homepage__our__specialities__container__slider__arrow button {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  font-weight: 600;
  color: var(--white);
}
.homepage__our__specialities__container__slider__arrow svg {
  fill: var(--white);
  width: 50px;
}
.homepage__our__specialities__container__slider__arrow svg:hover {
  fill: var(--dark);
}
//Our Clients
.our__clients__homepage {
  width: 100%;
  height: 100%;
  padding: 5em 0em;
  padding-bottom: 0em;
}
.our__clients__homepage__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.our__clients__homepage__container__title {
  font-size: 35px;
  font-weight: 600;
  text-align: flex-start;
  width: 100%;
  color: black;
  text-align: center;
  margin-bottom: 1em;
}
.our__clients__homepage__container__clients {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our__clients__homepage__container__clients__entry {
  width: 100%;
  max-width: 200px;
  margin-top: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our__clients__homepage__container__clients__entry img {
  filter: grayscale(100%);
  width: 100px;
}

//
//Recently Listed Assets
.recently__listed__assets {
  width: 100%;
  height: 100%;
  padding: 5em 0em;
  padding-bottom: 0em;
}
.recently__listed__assets__slider__item__top {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recently__listed__assets__cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recently__listed__assets__slider {
  width: 100%;
  max-width: 300px;
}
.recently__listed__assets__slider__item {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2em;
}
.recently__listed__assets__slider__item__heading {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: var(--white);
  font-size: 15px;
  padding: 0.3em 0em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recently__listed__assets__slider__item__entry__slides {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recently__listed__assets__slider__item__entry {
  width: 100%;
  max-width: 300px;
  background-color: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.recently__listed__assets__slider__item__entry img {
  width: 100%;
  height: 100%;
}
.recently__listed__assets__slider__item__bottom {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.5em 0.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.recently__listed__assets__slider__item__bottom__btn {
  margin-bottom: 0.5em;
  padding: 0.2em 0.5em;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
.recently__listed__assets__slider__item__bottom__btn:hover {
  background-color: black;
  color: var(--white);
}
.recently__listed__assets__slider__item__bottom__heading {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
:root {
  --swiper-theme-color: var(--white) !important;
}
.recently__listed__assets__slider__item__bottom__price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.recently__listed__assets__slider__item__bottom__price__value {
  color: #41ce8e;
  font-size: 18px;
  font-weight: 600;
}
.recently__listed__assets__slider__item__bottom__price__value span {
  font-size: 14px;
  font-weight: 500;
}
.recently__listed__assets__slider__item__bottom__price__investors {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 600;
}
.recently__listed__assets__slider__item__bottom__detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e3e2e2;
  padding: 0.5em;
  border-radius: 8px;
  margin-top: 1em;
}
.recently__listed__assets__slider__item__bottom__detail__entry {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.recently__listed__assets__slider__item__bottom__detail__entry:last-child {
  margin-bottom: 0em;
}
.recently__listed__assets__slider__item__bottom__detail__entry__title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
.recently__listed__assets__slider__item__bottom__detail__entry__value {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}
.recently__listed__assets__cards__see__more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.recently__listed__assets__cards__see__more__btn {
  height: 40px;
  padding: 0em 3em;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.99);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.99);
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recently__listed__assets__cards__see__more__btn:hover {
  background: linear-gradient(
    270deg,
    rgb(58, 4, 87) 20%,
    rgb(251, 174, 31) 94%
  );

  color: var(--white);
  transition: 300ms ease-in-out;
}
.testimonials__section {
  width: 100%;
  padding: 5em 0em;
  padding-bottom: 0em;
}
.testinomials__section__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}
.testimonials__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 2em;
  flex-wrap: wrap;
}
.testimonials__container__entry {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 1em;
  margin-top: 1em;
}
.testimonials__container__entry:last-child {
  margin-right: 0em;
}
.testimonials__container__entry__image {
  width: 100%;
  max-width: 100px;
  margin-bottom: -2.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.testimonials__container__entry__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em;
  padding-top: 4em;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.testimonials__container__entry__content:hover {
  background-color: var(--dark);
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.testimonials__container__entry__content:hover
  .testimonials__container__entry__content__heading {
  color: var(--white);
  transition: 300ms ease-in-out;
}
.testimonials__container__entry__content__heading {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
.testimonials__container__entry__content__subheading {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 1em 0em;
  color: var(--dark);
}
.testimonials__container__entry__content:hover
  .testimonials__container__entry__content__subheading {
  color: var(--white);
  transition: 300ms ease-in-out;
}
.testimonials__container__entry__content__description {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.testimonials__container__entry__content:hover
  .testimonials__container__entry__content__description {
  color: var(--white);
  transition: 300ms ease-in-out;
}
.get__in__touch {
  width: 100%;
  padding: 5em 0em;
  position: relative;
  overflow: hidden;
}
.get__in__touch__container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding: 0em 2em;
  position: relative;
  height: 600px;
}
.get__in__touch__container__img {
  width: 100%;
  height: 100%;
}
.get__in__touch__container__overlay {
  position: absolute;
  top: 0;
  width: calc(100% - 4em);
  height: 100%;
  padding: 5em;
  padding-right: 2em;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get__in__touch__svgs {
  width: 100%;
  height: 100%;
}
.get__in__touch__svg1 {
  position: absolute;
  bottom: 170px;
  left: -100px;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.get__in__touch__svg2 {
  position: absolute;
  bottom: 70px;
  left: 130px;
  width: 100px;
  height: 100px;
  z-index: 1;
}
.get__in__touch__container__overlay__content__left {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
}
.get__in__touch__container__overlay__content__heading__left {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1em;
  color: var(--dark);
  display: flex;
  flex-direction: column;
}
.get__in__touch__container__overlay__content__heading__left span {
  font-weight: 500;
}
.get__in__touch__container__overlay__content__left__text {
  color: #808080;
  padding-right: 1em;
}
.get__in__touch__container__overlay__content__right {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.get__in__touch__content__right__entry {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.get__in__touch__content__right__entry__input__field {
  width: 100%;
  height: 40px;
  padding: 0em 1.5em;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 50px;
  margin-bottom: 1.2em;
  background-color: var(--lightblue);
  color: var(--white);
}
.get__in__touch__content__right__entry__input__field:hover {
  border-color: var(--dark);
  transition: 0.3s ease-in-out;
}
.get__in__touch__content__right__entry__input__field:focus {
  outline-color: var(--dark);
  transition: 0.3s ease-in-out;
}
.get__in__touch__content__right__entry__input__textarea {
  width: 100%;
  min-height: 200px;
  padding: 1em 1.5em;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  border-radius: 15px;
  margin-bottom: 1.2em;
  background-color: var(--lightblue);
  color: var(--white);
  resize: none;
}
.get__in__touch__content__right__entry__input__textarea:hover {
  border-color: var(--dark);
  transition: 0.3s ease-in-out;
}
.get__in__touch__content__right__entry__input__textarea:focus {
  outline-color: var(--dark);
  transition: 0.3s ease-in-out;
}
.get__in__touch__content__right__entry__input__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.get__in__touch__content__right__entry__input__textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.get__in__touch__content__right__entry__input__error {
  position: absolute;
  bottom: 0px;
  left: 20px;
  color: var(--dark);
  font-size: 12px;
}
.get__in__touch__content__right__entry__btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.get__in__touch__content__right__entry__button {
  height: 40px;
  border-radius: 50px;
  background-color: #0ba2a2;
  font-size: 14px;
  font-weight: 600;
  padding: 0em 3em;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get__in__touch__content__right__entry__button:hover {
  background-color: var(--dark);
  transition: 0.3s ease-in-out;
}
@media (max-width: 1200px) {
  .header__container__text__section__heading {
    font-size: 30px;
    width: calc(100% - 1em);
  }
  .header__container__text__section__text {
    max-width: 100%;
    width: calc(100% - 2em);
  }
}
@media (max-width: 1080px) {
  .about__section__cards {
    width: 100%;
  }
  .tokenization__section__blue__cards {
    flex-direction: column;
  }
  .header__container__svgs__two,
  .header__container__svgs__one {
    display: none;
  }
  .header__container__svgs__three {
    height: 100%;
  }
  .header__container__svgs__three svg {
    bottom: -137px;
  }
  .tokenization__section__blue__cards__card {
    margin-right: 0em;
    margin-bottom: 1em;
    width: 100%;
    padding: 2em 1em;
  }
  .tokenization__section__blue__cards__card__text {
    width: 80%;
    margin-left: 1em;
  }
  .tokenization__section__blue__cards__card__icon svg {
    width: 63px;
  }
}

@media (max-width: 920px) {
  .about__section__cards {
    width: 80%;
    justify-content: center;
  }
  .about__section__card {
    width: 45%;
    margin-bottom: 1.3em;
  }
  .about__section__card:nth-child(1) {
    margin-right: 1.5em;
  }
  .homepage__our__specialities__container {
    width: calc(100% - 0em);
    margin-left: 0em;
    padding-right: 4em;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .homepage__our__specialities__container__title,
  .testinomials__section__heading,
  .our__clients__homepage__container__title,
  .get__in__touch__container__overlay__content__heading__left,
  .industries__solutions__heading {
    font-size: 28px;
  }
  .get__in__touch__container__overlay {
    flex-direction: column;
    padding: 4em 3em;
    width: calc(100% - 0em);
  }
  .get__in__touch__container__overlay__content__left {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
  }
  .get__in__touch__container__overlay__content__right {
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
  .get__in__touch__svgs {
    display: none;
  }
  .get__in__touch__container {
    height: 680px;
    background-color: var(--darkblue);
    padding: 0em;
    border-radius: 20px;
    width: calc(100% - 4em);
  }
  .get__in__touch__container__overlay__content__heading__left {
    display: block;
  }
  .get__in__touch__container__overlay__content__heading__left span {
    font-weight: 600;
  }
  .get__in__touch__container__img {
    display: none;
  }
}
@media (max-width: 750px) {
  .about__section__cards {
    width: 80%;
    justify-content: center;
  }
  .about__section__card {
    width: 80%;
    margin-bottom: 1.3em;
  }
  .about__section__card:nth-child(1) {
    margin-right: 0;
  }
  .header__container__text__section__heading {
    font-size: 25px;
  }
  .homepage__startyour__container__img__entry {
    font-size: 18px;
    font-weight: 500;
    padding: 0.5em;
    width: calc(100% - 2em);
  }
  .homepage__startyour__container__img {
    border-radius: 0px;
  }
  .homepage__startyour__container__img {
    min-height: 350px;
  }

  .get__in__touch__container__overlay__content__left__text {
    padding-right: 0em;
  }
}
@media (max-width: 800px) {
  .header__container__svgs__three svg {
    left: 100px;
    bottom: -145px;
    width: 200px;
  }
}
@media (max-width: 520px) {
  .about__section__cards {
    width: 100%;
    justify-content: center;
  }
  .homepage__our__specialities__container {
    padding: 4em 2em;
  }
  .get__in__touch__container {
    height: 700px;
    width: calc(100% - 0em);
  }
  .get__in__touch__container__overlay {
    padding: 4em 2em;
  }
  .get__in__touch__container__overlay__content__left {
    justify-content: flex-start;
  }
  .get__in__touch__container__overlay__content__heading__left {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 400px) {
  .about__section__card {
    width: 95%;
  }
  .tokenization__section__blue__heading {
    font-size: 30px;
  }
}
